{
  "openapi": "3.0.0",
  "info": {
    "title": "Quark APIs",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://demo.quarklabs.ai/api/v1"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Root"
        ],
        "operationId": "QuarkRESTAPIRoot",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/context/extractors/schema": {
      "get": {
        "tags": [
          "JsonSchema"
        ],
        "operationId": "getExtractorSchema",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/context/extractors": {
      "get": {
        "tags": [
          "Context"
        ],
        "operationId": "listExtractors",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extractor"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Context"
        ],
        "operationId": "createExtractor",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/Extractor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Extractor"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/context/extractors/{id}": {
      "get": {
        "tags": [
          "Context"
        ],
        "operationId": "getExtractorDetails",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Extractor"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Context"
        ],
        "operationId": "deleteExtractor",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseMessage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Context"
        ],
        "operationId": "updateExtractor",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/Extractor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Extractor"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/admin/identity/identity": {
      "get": {
        "tags": [
          "Identity"
        ],
        "operationId": "listIdentities",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Identity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/admin/identity/identity/{id}": {
      "get": {
        "tags": [
          "Identity"
        ],
        "operationId": "getIdentityDetails",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Identity"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Identity"
        ],
        "operationId": "deleteIdentity",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseMessage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Identity"
        ],
        "operationId": "updateIdentity",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/Identity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Identity"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/admin/identity/roles": {
      "get": {
        "tags": [
          "Identity"
        ],
        "operationId": "listRoles",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdentityRoleAPIModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Identity"
        ],
        "operationId": "createRole",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityRoleAPIModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/admin/identity/roles/{id}": {
      "get": {
        "tags": [
          "Identity"
        ],
        "operationId": "getRoleDetails",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityRoleAPIModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Identity"
        ],
        "operationId": "deleteRole",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseMessage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Identity"
        ],
        "operationId": "updateRole",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityRoleAPIModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/admin/identity/roles/{id}/members/identity/{identity_id}": {
      "put": {
        "tags": [
          "Identity"
        ],
        "operationId": "assignIdentityToRole",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          },
          {
            "in": "path",
            "name": "identity_id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityRoleAPIModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Identity"
        ],
        "operationId": "unassignIdentityFromRole",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          },
          {
            "in": "path",
            "name": "identity_id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityRoleAPIModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/admin/identity/roles/{id}/members/role/{role_id}": {
      "put": {
        "tags": [
          "Identity"
        ],
        "operationId": "assignRoleToRole",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          },
          {
            "in": "path",
            "name": "role_id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityRoleAPIModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Identity"
        ],
        "operationId": "unassignRoleFromRole",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          },
          {
            "in": "path",
            "name": "role_id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityRoleAPIModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/models/schema": {
      "get": {
        "tags": [
          "JsonSchema"
        ],
        "operationId": "getMLModelSchema",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "tags": [
          "MLModels"
        ],
        "operationId": "listMLModel",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MlModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "MLModels"
        ],
        "operationId": "createMLModel",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/MlModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MlModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/models/{id}": {
      "get": {
        "tags": [
          "MLModels"
        ],
        "operationId": "getMLModelDetails",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MlModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "MLModels"
        ],
        "operationId": "deleteMLModel",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseMessage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "MLModels"
        ],
        "operationId": "updateMLModel",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/MlModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MlModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/models/roles/schema": {
      "get": {
        "tags": [
          "JsonSchema"
        ],
        "operationId": "getMLModelRoleSchema",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/models/roles": {
      "get": {
        "tags": [
          "MLModels"
        ],
        "operationId": "listMLModelRoles",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MlModelRole"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "MLModels"
        ],
        "operationId": "createMLModelRole",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/MlModelRole"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MlModelRole"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/models/roles/{id}": {
      "get": {
        "tags": [
          "MLModels"
        ],
        "operationId": "getMLModelRoleDetails",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MlModelRole"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "MLModels"
        ],
        "operationId": "deleteMLModelRole",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseMessage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "MLModels"
        ],
        "operationId": "updateMLModelRole",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/MlModelRole"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MlModelRole"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/authorize": {
      "get": {
        "tags": [
          "Identity"
        ],
        "operationId": "AuthorizeToken",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "explode": true,
            "style": "form"
          },
          {
            "in": "query",
            "name": "_state",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "explode": true,
            "style": "form"
          }
        ],
        "responses": {
          "303": {
            "description": "",
            "headers": {
              "LOCATION": {
                "style": "simple",
                "required": true,
                "deprecated": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/authorize/logout": {
      "get": {
        "tags": [
          "Identity"
        ],
        "operationId": "Logout",
        "responses": {
          "303": {
            "description": "",
            "headers": {
              "LOCATION": {
                "style": "simple",
                "required": true,
                "deprecated": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/profile/api_keys/schema": {
      "get": {
        "tags": [
          "JsonSchema"
        ],
        "operationId": "getAPIKeySchema",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/profile/api_keys": {
      "get": {
        "tags": [
          "Profile"
        ],
        "operationId": "listUserAPIKeys",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/APIKey"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Profile"
        ],
        "operationId": "createUserAPIKey",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAPIKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/profile/api_keys/{id}": {
      "delete": {
        "tags": [
          "Profile"
        ],
        "operationId": "deleteUserAPIKey",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseMessage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/profile/api_keys/{id}/disable": {
      "patch": {
        "tags": [
          "Profile"
        ],
        "operationId": "disableUserAPIKey",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseMessage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/sources/schema": {
      "get": {
        "tags": [
          "JsonSchema"
        ],
        "operationId": "getSourceSchema",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/sources": {
      "get": {
        "tags": [
          "Sources"
        ],
        "operationId": "listSources",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Source"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Sources"
        ],
        "operationId": "createSource",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/Source"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/sources/{id}": {
      "get": {
        "tags": [
          "Sources"
        ],
        "operationId": "getSourceDetails",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Sources"
        ],
        "operationId": "deleteSource",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseMessage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Sources"
        ],
        "operationId": "updateSource",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "explode": true,
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/Source"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Identity"
        ],
        "operationId": "GetMyProfile",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Identity"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "CookieAuth": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/context/classifiers/schema": {
      "get": {
        "tags": [
          "JsonSchema"
        ],
        "operationId": "getClassifierSchema",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseMessage"
                }
              }
            }
[...]
